<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.mybatis_c3p0_psw.dao.TitleDao">
	<insert id="insertTitle" parameterType="Title">
		INSERT INTO title (code, name) VALUES(#{code}, #{name});

	</insert>
	<select id="selectedTitleByAll" resultType="Title">
		SELECT code, name
		FROM title
	</select>
	
	<select id="selectedTitleByCode" resultType="Title" parameterType="Title">
		select code, name from title where code = #{code}
	</select>
	
	<delete id="deleteTitle">
		delete from title where code=#{param1}
	</delete>
	
	<update id="updateTitle">
		update title set name=#{name} where code=#{code}
	</update>
</mapper>